build
.settings
.vscode
mx.scratch
.settings
cmake
Drivers
.clangd
.mxproject
BNO085_TESTING.ioc
CMakeLists.txt
CMakePresets.json
startup_stm32f103xb.s
STM32F103XX_FLASH.ld

#*
#!BNO085_TESTING\Core\Inc
#!BNO085_TESTING\Core\Src

